# 👋 Code owners help maintain this repository and keep it aligned with our technical vision.
# You're responsible for reviewing changes, ensuring quality, and guiding contributors.
# You're also encouraged to help triage issues and keep discussions constructive and focused.
# Ownership can be shared, delegated, or updated as the project evolves.

# For more information about CODEOWNERS, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# As we cannot use groups yet, we list all members explicitly.

# @infrastructure-maintainers:
# @AlexanderLanin @MaximilianSoerenPollak @dcalavrezo-qorix @nradakovic

# @automotive-score-technical-leads:
# @antonkri @FScholPer @qor-lb @johannes-esr @markert-r

* @AlexanderLanin @MaximilianSoerenPollak @dcalavrezo-qorix @nradakovic

.github/CODEOWNERS @antonkri @FScholPer @qor-lb @johannes-esr @markert-r

/modules/score_baselibs               @antonkri @FScholPer @qor-lb @johannes-esr @markert-r
/modules/score_persistency            @antonkri @FScholPer @qor-lb @johannes-esr @markert-r
/modules/score_communication          @antonkri @FScholPer @qor-lb @johannes-esr @markert-r
/modules/score_platform               @antonkri @FScholPer @qor-lb @johannes-esr @markert-r
/modules/score_itf                    @antonkri @FScholPer @qor-lb @johannes-esr @markert-r

# Doesn't exist yet, but we can create the rules:
/modules/score_feo                    @antonkri @FScholPer @qor-lb @johannes-esr @markert-r
/modules/score_logging                @antonkri @FScholPer @qor-lb @johannes-esr @markert-r
/modules/score_orchestration          @antonkri @FScholPer @qor-lb @johannes-esr @markert-r
/modules/score_test_scenarios         @antonkri @FScholPer @qor-lb @johannes-esr @markert-r
